<div class="taskStatusBox">
  <div class="taskStatus cvcColorSquare" status="STATUS_ACTIVE" title="(#=GanttMaster.languageItems.STATUS_ACTIVE#)"></div>
  <div class="taskStatus cvcColorSquare" status="STATUS_DONE" title="(#=GanttMaster.languageItems.STATUS_DONE#)"></div>
  <div class="taskStatus cvcColorSquare" status="STATUS_FAILED" title="(#=GanttMaster.languageItems.STATUS_FAILED#)"></div>
  <div class="taskStatus cvcColorSquare" status="STATUS_SUSPENDED" title="(#=GanttMaster.languageItems.STATUS_SUSPENDED#)"></div>
  <div class="taskStatus cvcColorSquare" status="STATUS_UNDEFINED" title="(#=GanttMaster.languageItems.STATUS_UNDEFINED#)"></div>
</div>