<div class="taskStatusBox">
  <div class="taskStatus cvcColorSquare" status="STATUS_ACTIVE" data-ml-text="GanttMaster.messages.STATUS_ACTIVE" data-ml-attribute="title"></div>
  <div class="taskStatus cvcColorSquare" status="STATUS_DONE" data-ml-text="GanttMaster.messages.STATUS_DONE" data-ml-attribute="title"></div>
  <div class="taskStatus cvcColorSquare" status="STATUS_FAILED" data-ml-text="GanttMaster.messages.STATUS_FAILED" data-ml-attribute="title"></div>
  <div class="taskStatus cvcColorSquare" status="STATUS_SUSPENDED" data-ml-text="GanttMaster.messages.STATUS_SUSPENDED" data-ml-attribute="title"></div>
  <div class="taskStatus cvcColorSquare" status="STATUS_UNDEFINED" data-ml-text="GanttMaster.messages.STATUS_UNDEFINED" data-ml-attribute="title" ></div>
</div>