<table class="gdfTable" cellspacing="0" cellpadding="0">
    <thead>
      <tr style="height:40px">
        <th class="gdfColHeader" style="width:35px; border-right: none"></th>
        <th class="gdfColHeader" style="width:25px;"></th>
        <th class="gdfColHeader gdfResizable" style="width:40px;">(#=GanttMaster.messages.HEADER_CODE#)</th>
        <th class="gdfColHeader gdfResizable" style="width:200px;">(#=GanttMaster.messages.HEADER_NAME#)</th>
        <th class="gdfColHeader"  align="center" style="width:17px;" title="(#=GanttMaster.messages.HEADER_START_MILESTONE#)"><span class="teamworkIcon" style="font-size: 8px;">^</span></th>
        <th class="gdfColHeader gdfResizable" style="width:80px;">(#=GanttMaster.messages.HEADER_START_DATE#)</th>
        <th class="gdfColHeader"  align="center" style="width:17px;" title="(#=GanttMaster.messages.HEADER_END_MILESTONE#)"><span class="teamworkIcon" style="font-size: 8px;">^</span></th>
        <th class="gdfColHeader gdfResizable" style="width:80px;">(#=GanttMaster.messages.HEADER_END_DATE#)</th>
        <th class="gdfColHeader gdfResizable" style="width:50px;">(#=GanttMaster.messages.HEADER_DURATION#)</th>
        <th class="gdfColHeader gdfResizable" style="width:75px;">(#=GanttMaster.messages.HEADER_PROGRESS#)</th>
        <th class="gdfColHeader gdfResizable requireCanSeeDep" style="width:100px;">(#=GanttMaster.messages.HEADER_DEPENDENCIES#)</th>
      </tr>
    </thead>
  </table>