<table class="gdfTable" cellspacing="0" cellpadding="0">
    <thead>
      <tr style="height:40px">
        <th class="gdfColHeader" style="width:35px; border-right: none"></th>
        <th class="gdfColHeader" style="width:25px;(#=obj.useStatus?'':'display: none;'#)"></th>
        <th class="gdfColHeader gdfResizable" style="width:40px;" data-ml-text="GanttMaster.messages.HEADER_CODE" data-ml-attribute="innerHTML"></th>
        <th class="gdfColHeader gdfResizable" style="width:200px;" data-ml-text="GanttMaster.messages.HEADER_NAME" data-ml-attribute="innerHTML"></th>
        <th class="gdfColHeader"  align="center" style="width:17px;" data-ml-text="GanttMaster.messages.HEADER_START_MILESTONE" data-ml-attribute="title" title=""><span class="teamworkIcon" style="font-size: 8px;">^</span></th>
        <th class="gdfColHeader gdfResizable" style="width:80px;" data-ml-text="GanttMaster.messages.HEADER_START_DATE" data-ml-attribute="innerHTML"></th>
        <th class="gdfColHeader"  align="center" style="width:17px;" data-ml-text="GanttMaster.messages.HEADER_END_MILESTONE" data-ml-attribute="title" title=""><span class="teamworkIcon" style="font-size: 8px;">^</span></th>
        <th class="gdfColHeader gdfResizable" style="width:80px;" data-ml-text="GanttMaster.messages.HEADER_END_DATE" data-ml-attribute="innerHTML"></th>
        <th class="gdfColHeader gdfResizable" style="width:50px;" data-ml-text="GanttMaster.messages.HEADER_DURATION" data-ml-attribute="innerHTML"></th>
        <th class="gdfColHeader gdfResizable" style="width:75px;" data-ml-text="GanttMaster.messages.HEADER_PROGRESS" data-ml-attribute="innerHTML"></th>
        <th class="gdfColHeader gdfResizable requireCanSeeDep" style="width:100px;" data-ml-text="GanttMaster.messages.HEADER_DEPENDENCIES" data-ml-attribute="innerHTML"></th>
      </tr>
    </thead>
  </table>